.hero {
  background-color: $veryLightGray;


  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }


  &__image {
    position: relative; // if not relative and below absolute, is going to brake
    background-image: url("../../images/bg-intro-mobile.svg");
    background-size: cover; // doesn't stretch
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      min-height: 40.9375rem;
      background-image: none;
      //background-image: url("../../images/bg-intro-desktop.svg");
      //background-position: left center;
    }

    &::before {
      content: ""; // regardless of what you wanna put, before must always have a content element to exist
      position: absolute; // watch out for relative, parent must always be relative
      height: 100%; // match parent height
      width: 100%; // match parent width

      background-image: url("../../images/bg-intro-desktop.svg");
      background-size: 94%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(large) {
        width: 150%;
        background-size: 122%;
        background-repeat: no-repeat;
        background-position: 0% 83%;
      }
    }

    &::after {
      content: ""; // regardless of what you wanna put, before must always have a content element to exist
      position: absolute; // watch out for relative, parent must always be relative
      height: 100%; // match parent height
      width: 100%; // match parent width

      background-image: url("../../images/image-mockups.png");
      background-size: 94%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(large) {
        width: 120%;
        height: 122%;
        background-size: 94%;
        background-repeat: no-repeat;
        background-position: center 150%;
        left: 22%;
      }
    }

  }
  &__text {
    text-align: center;
    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }


  }
}