# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Website Project Challenge\Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
